.header {
    position: relative;
    text-align: center;
}

.logo {
    position: absolute;
    top: 125%;
    left: 10px;
    transform: translateY(-50%);
    width: 8rem;
    height: auto;
}

.title {
    font-family: 'Julius Sans One', sans-serif;
    margin-left: 10px;
    color: white;
}
