/* Definir las variables de color */
:root {
    --colorPrimario: #FF5733;
    --colorSecundario: #1C1C1C;
    --fuente: "Julius Sans One", sans-serif;
}

/* Definir el box-sizing */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Estilos generales del cuerpo */
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/Background.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Estilos del contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos del campo de entrada de texto */
.jugador {
    width: 90%;
    max-width: 30rem;
    height: 3rem;
    background-color: #1C1C1C;
    color: white;
    border: 2px solid #ccc;
    font-size: 1rem;
    border-radius: 15px;
    margin-top: 5rem;
    margin-bottom: 1rem;
    padding: 0 10px;
    outline: none;
}

/* Estilos del texto del placeholder */
.jugador::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

/* Estilos del botón */
.botonImagen {
    width: 90%;
    max-width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url('/GaosMini_blackbg.webp');
    background-size: cover;
    background-position: center;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 15px;
    background-color: transparent;
    transition: transform 0.3s ease;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

/* Estilos del botón al pasar el mouse */
.botonImagen:hover, .botonImagen:focus {
    transform: translateY(-3px);
    -webkit-box-shadow: 6px 7px 74px 9px rgba(199,28,28,1);
    -moz-box-shadow: 6px 7px 74px 9px rgba(199,28,28,1);
    box-shadow: 6px 7px 74px 9px rgba(199,28,28,1);
}

/* Estilos del botón al hacer clic */
.botonImagen:active {
    transform: translateY(1px);
    box-shadow: 6px 7px 74px 9px rgba(199,28,28,1);
}

/* Media queries */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .jugador, .botonImagen {
        margin-top: 10rem; /* Ajustar para todas las orientaciones de tabletas */
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .jugador, .botonImagen {
        margin-top: 10rem; /* Ajustar para orientación vertical específicamente */
    }
}
